.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
}

.wrapper > h1,
.wrapper > p{
    text-align: center;
}

.wrapper > h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper > p{
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.aboutContent{
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftBox{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    position:relative;
    background-color: #7070701c;
}

.leftBox img {
    filter: grayscale();
}

