.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.wrapper>h1,
.wrapper>p {
    text-align: center;
}

.wrapper>h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper>p {
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.aboutContent {
    gap: 100px;
    margin: 3rem 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.leftBox img {
    height: 550px;
    width: 350px;
    object-fit: contain;
    filter: grayscale();
}

.rightBox {
    margin-top: 2rem;
}

.rightBox p {
    color: #959595;
    font-size: 18px;
    line-height: 30px;
}

.rightBox button {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2rem;
    width: 220px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #FD6F00;
}


.skillStat {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    height: 130px;
    width: 130px;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    transition: .20s ease;
    background: conic-gradient(#444 0deg);
}

.circle1 {
    background: conic-gradient(#f87714 100%, #444 0deg);
}

.circle3 {
    background: conic-gradient(#f87714 80%, #444 0deg);
}

.circle2 {
    background: conic-gradient(#f87714 85%, #444 0deg);
}

.circle4 {
    background: conic-gradient(#f87714 90%, #444 0deg);
}

.circle5 {
    background: conic-gradient(#f87714 75%, #444 0deg);
}

.circle>span {
    display: block;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    color: #f87714;
    font-size: 20px;
    font-weight: bold;
    background-color: #121212;
}

.box>span {
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width:992px) {
    .leftBox img {
        height: 550px;
        width: 250px;
        object-fit: contain;
        filter: grayscale();
    }

    .skillStat {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width:784px) {
    .aboutContent {
        gap: 50px;
        flex-direction: column;
    }
    .skillStat {
        grid-template-columns: 1fr 1fr;
    }

    .leftBox {
        display: flex;
        justify-content: center;
    }

    .leftBox img {
        width: 350px;
    }
}