.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 0;
}

.wrapper > h1,
.wrapper > p{
    text-align: center;
}

.wrapper > h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper > p{
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
}

.form form{
    max-width: 1012px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    gap: 30px;
    align-items: flex-start;
}

.field input {
    min-height: 54px;
    max-width: 491px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 .5rem;
    color: #959595;
    background: #95959521;
    border-radius: 5px;
}

.field textarea{
    min-height: 130px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #959595;
    padding:.5rem;
    font-family: "Lato", sans-serif;
    background: #95959521;
}

.form button{
    display: block;
    margin-left: auto;
    height: 48px;
    width: 127px;
    border-radius: 5px;
    border: 1px solid #959595;
    background: none;
    color: #959595;
    cursor: pointer;
}