header{
    width: 100vw;
}


.wrapper{
    display: flex;
    height: 65px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: transparent;
    background:linear-gradient(#FA6E00,  #E60026 ) ;
    background-clip: text;
    -webkit-background-clip: text;
}


.links ul {
    gap: 60px;
    display: inline-flex;
    list-style-type: none;
}

.links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #959595;
}

header button{
    height:45px;
    width: 140px;
    color: #fff;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color:#FA6E00;
}



