
.wrapper{
    width: 100%;
    color:#fff;
    display: flex;
    gap: 100px;
    max-width: 1400px;
    /* justify-content: space-between; */
    margin: 90px auto !important;
}

.leftBox{
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('/images/Vector.png');
}

.intro{
    display: flex;
    flex-direction: column;
}

.intro span:first-child{
    color: #707070;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: .5rem;
    display: inline-block;
}

.intro span:nth-of-type(2){
    font-size: 28px;
    color: #959595;
    font-weight: 750;
}

.intro h2{
    font-size: 60px;
    font-weight: bold;
    margin:20px 0;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient( #984300 0%, #FD6F00 46%,  #CA5900 100%);
    background-clip: text;
    -webkit-background-clip: text;

}

.socialLinks ul{
    display: flex;
    gap:15px;
    margin-top: 10px;
    margin-bottom: 69px;
    list-style-type: none;
}

.socialLinks ul li a{
    display: block;
    color: #575757;
}

.socialLinks ul li a:hover,
.socialLinks ul li:hover{
    color: #eeeeee;
    border-color: #eeeeee;
}

.socialLinks ul li{
    height: 40px;
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #575757; 
}

.btns {
    display: flex;
    gap: 25px;
}

.btns button:first-child{
    height: 48px;
    width: 156px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    background: #FD6F00;
    cursor: pointer;
    font-size: 20px;
}

.btns button:last-child{
    height: 48px;
    width: 200px;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: none;
    cursor: pointer;
    border: 1px solid #fff;
}

.stats{
    margin-top: 76px;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dfdfdf13;
    border-radius: 5px;
}

.stats div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #fff;
    flex-direction: column;
    padding: 0 1rem;
}
.stats div:last-child{
    border: none !important;
}

.stats div span:first-child{
    font-size: 24px;
    font-weight: bold;
    color: #FD6F00;
    display: inline-block;
    margin-bottom: .6rem;
}

.stats > div span{
    text-wrap: nowrap;
}

.stats div span:last-child{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.rightBox{
    width:50%;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
}

.img{
    position: relative;
    min-height: 480px;
    min-width: 480px;
    border-radius: 100%;
    background-color: #57575723;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.img img{
    position: absolute;
    top: -101px;
    right: -108px;
    z-index: 1;
    height: 580px;
    object-fit: contain;
    border-bottom-left-radius: 240px;
    border-bottom-right-radius: 400px;
    filter: grayscale();
}


