
.wrapper{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1400px;
    color:#fff;
}

.intro{
    display: flex;
    flex-direction: column;
}

.intro span:first-child{
    color: #707070;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: .5rem;
    display: inline-block;
}

.intro span:nth-of-type(2){
    font-size: 28px;
    color: #959595;
    font-weight: 750;
}

.intro h2{
    font-size: 60px;
    font-weight: bold;
    margin: 1.3rem 0;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient( #984300 0%, #FD6F00 46%,  #CA5900 100%);
    background-clip: text;
    -webkit-background-clip: text;

}

.socialLinks ul{
    display: flex;
    gap:15px;
    list-style-type: none;
}

.socialLinks ul li a{
    display: block;
    color: #575757;
}
.socialLinks ul li{
    height: 40px;
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #575757; 
}