.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.wrapper>h1,
.wrapper>p {
    text-align: center;
}

.wrapper>h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper>p {
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.wrapper > button:last-child{
    height: 40px;
    width: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    background: #FD6F00;
}

.wrapper > button:last-child a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.filterBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0;
}

.filterBtn button{
    height: 40px;
    border-radius: 100px;
    border:1px solid #C6C6C6;
    background: none;
    width: 120px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    font-size: 15px;
}

.filterActive{
    background-color: #FD6F00 !important;
    border: none !important;
}

.projectsCollection {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    margin: 2rem 0;
    grid-template-columns: 1fr 1fr 1fr;

}

@media screen and (max-width:992px) {
    .projectsCollection {
        grid-template-columns: 1fr 1fr;

    }
}
@media screen and (max-width:600px) {
    .projectsCollection {
        grid-template-columns: 1fr;

    }
}