.cards {
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    overflow: hidden;
    transition: border .20s ease;
    background-color: #7070702c;
}

.cards:hover {
    border-color: #fff;
}

.btns {
    display: flex;
    width: 100%;
    margin: .5rem 0;
    padding: 0 .3rem;
    justify-content: space-between;
}

.btns button {
    height: 40px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: #FD6F00;
}

.btns button a {
    color: #fff;
    text-decoration: none;
}

.btns button:last-child {
    background: none !important;
    border: 1px solid #fff;
}

.img img {
    height:100%;
    width: 100%;
    object-fit: contain;
}

.cards h1 {
    padding: 1rem .5rem;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.cards h1 span:first-child {
    color: #C6C6C6;
    font-size: 20px;
}

.cards h1 span:last-child {
    color: #959595;
    font-size: 15px;
}