.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.wrapper > h1,
.wrapper > p{
    text-align: center;
}

.wrapper > h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper > p{
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.servicesGrid{
    display: grid;
    gap: 30px;
    margin: 40px 0;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width:992px) {
    .servicesGrid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:764px) {
    .servicesGrid{
        grid-template-columns: 1fr;
    }
}

.servicesGrid div {
    text-align: center;
    border-radius: 5px;
    padding: 3rem;
    background-color: #7070700c;
}
.servicesGrid div h2 {
    color: #FD6F00;
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0;
}

.servicesGrid div p{
    color: #575757;
    font-size: 20px;
}