.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper > h1,
.wrapper > p{
    text-align: center;
}

.wrapper > h1{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.wrapper > p{
    font-size: 20px;
    color: #707070;
    font-weight: 550;
    margin: 1rem 0;
}

.servicesGrid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.servicesGrid div {
    text-align: center;
    background-color: #7070700c;
}